@model HMT_Tech.Models.Register

@if (Model != null)
{
    <a href="#" class="search-toggle dropdown-toggle d-flex align-items-center" id="dropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="@Model.Image" class="img-fluid rounded-circle" alt="user">
        <div class="caption ml-3">
            <h6 class="mb-0 line-height">
                @Model.Name<i class="las la-angle-down ml-2"></i>
            </h6>
        </div>
    </a>
}
else
{
    <div>
        <p>@ViewBag.Message</p>
    </div>
}


